<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="background: #FFFFFF;">
    <div>
        <div style="margin:0px auto;max-width:600px;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
                            <div style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top;" width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" class="container-padding content" style="padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff">
                                                <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:20px;color:#444444">Reserva de veículo aguardando aprovação</div>
                                                <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">
                                                    <p align="justify">Existe uma nova reserva de veículo aguardando sua aprovação, acesse o sistema IF Reservas para realizar a aprovação.</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><b>Veículo:</b></td>
                                                                <td th:text="${veiculo}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Solicitante:</b></td>
                                                                <td th:text="${solicitante}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Data de início:</b></td>
                                                                <td th:text="${start}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Data de término:</b></td>
                                                                <td th:text="${end}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Saída:</b></td>
                                                                <td th:text="${saida}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Destino:</b></td>
                                                                <td th:text="${destino}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Motivo da reserva:</b></td>
                                                                <td th:text="${motivo}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
                                                <br/>
                                                Essa mensagem é enviada automaticamente, favor não responder.<br />
                                                <center>
                                                    <br/>
                                                    <br/>
                                                    <strong>IF Reservas</strong><br/>
                                                    <!--<a href="http://www.google.com" style="color:#aaaaaa">www.google.com</a>-->
                                                </center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>