<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="background: #FFFFFF;">
<div style="background-color:#FFFFFF;">
    <div style="margin:0px auto;max-width:600px;">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
            <tbody>
            <tr>
                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
                    <div style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top;" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td align="left" class="container-padding content" style="padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff">
                                    <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:20px;color:#444444">Redefinição de senha</div>
                                    <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">
                                        <p>Olá,</p>
                                        <p align="justify">Uma solicitação foi recebida para alterar a senha da sua conta do IF Reservas.</p>
                                        <p th:text="${senha}"></p>
                                        <center>
                                            <br/>
                                            <a th:href="@{${url}}" style="border-style: solid; border-width :0px; text-decoration: none; padding : 12px; border-color: #000000; background-color: #428bca; color: #FFFFFF; border-radius: 5px;">Alterar senha</a><br />
                                            <br />
                                        </center>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
                                    <br />
                                    Essa mensagem é enviada automaticamente, favor não responder.<br />
                                    <center>
                                        <br />
                                        <br />
                                        <strong>IF Reservas</strong><br />
                                        <!--<a href="http://www.google.com" style="color:#aaaaaa">www.google.com</a>-->
                                        <center><br />
                                        </center>
                                    </center>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>